<template>
  <footer class="pv3">
    <div class="mw8 center pa2 f5">
      <img src="../assets/images/duck-bunny-large-white.svg" alt="">
      <div class="f3">Tui Media</div>
      <address class="fs-normal">Address: 47 Greek St, London, W1D 4EE</address>
      <a class="white link underline-hover" href="tel:+44208605620" rel="noindex,nofollow">Phone: 020 860 5620</a>
    </div>
  </footer>
</template>
