<template>
  <header class="slate-light mw8 center flex items-center justify-between flex-wrap">
    <div class="flex items-center justify-start ma2 mh0-ns mv3-ns">
      <router-link :to="{ name: 'index' }"><img class="mr2" src="../assets/images/duck-bunny-logo-small.svg"></router-link>
      <router-link :to="{ name: 'index' }"><img src="../assets/images/logo-type.svg"></router-link>
    </div>

    <a class="dn-ns mr2" @click.prevent="hideNav = !hideNav">
      <tui-burger class="w2 h-auto" :is-open="!hideNav"/>
    </a>

    <nav class="f5 db-ns w-100 w-auto-ns animated" :class="{ 'h0 h-auto-ns o-0 o-100-ns': hideNav, 'db': !hideNav }">
      <div class="flex flex-column flex-row-ns">
        <router-link class="black link underline-hover pa2 db bb bb-0-ns bt bt-0-ns w-100 w-auto-ns mr5" to="{ name: 'index' }">About Us</router-link>
        <router-link class="black link underline-hover pa2 db bb bb-0-ns w-100 w-auto-ns " to="{ name: 'index' }">Contact Us</router-link>
      </div>
    </nav>
  </header>
</template>

<script>
import TuiBurger from '~/components/tui-burger'
export default {
  components: {
    TuiBurger
  },
  data () {
    return {
      hideNav: true
    }
  }
}
</script>
