<template>
  <svg width="90px" height="70px" viewBox="0 0 90 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <g :class="{ open: isOpen }" id="burger"  stroke="#000000" stroke-width="5" stroke-linecap="round">
      <path class="line line--drop" d="M5,6 L80,6"></path>
      <path class="line line--rotate-plus" d="M5,34 L80,34"></path>
      <path class="line line--rotate-minus" d="M5,34 L80,34"></path>
      <path class="line line--drop" d="M5,61 L80,61"></path>
    </g>
  </svg>
</template>

<script>
export default {
  props: ['isOpen']
}
</script>

<style scoped>
  .line {
    transition: all 0.3s ease;
    transform-origin: center center;
  }
  .open .line.line--drop {
    transform: scale(0);
    opacity: 0;
  }
  .open .line.line--rotate-plus {
    transform: rotate(45deg);
  }
  .open .line.line--rotate-minus {
    transform: rotate(-45deg);
  }
</style>