@import 'tachyons-custom/src/tachyons';

/* Debugging */
/*@import 'tachyons-custom/src/_debug-children';
@import 'tachyons-custom/src/_debug-grid';
*/
/* Uncomment out the line below to help debug layout issues */
/*@import 'tachyons-custom/src/_debug';*/

/* Tachyons configuration. Copy and modify defaults from `node_modules/tachyons-custom/src/_variables.css` */
:root {
  --max-width-8: 60rem;

  /* Mobile font scale */
  --font-size-1: 0; /* undefined */
  --font-size-2: 36px;
  --font-size-3: 32px;
  --font-size-4: 25px;
  --font-size-5: 21px; /* body copy */
  --font-size-6: 15px;
  --font-size-7: 0; /* undefined */

  /* Tablet & Desktop font scale */
  @media screen and (min-width: 30em) {
    --font-size-1: 0; /* undefined */
    --font-size-2: 66px;
    --font-size-3: 46px;
    --font-size-4: 28px;
    --font-size-5: 23px; /* body copy */
    --font-size-6: 18px;
    --font-size-7: 0; /* undefined */
  }
}

/* Tachyons wishlist */
.animated { transition: all 0.3s ease; }
.h0 { height: 0; overflow: hidden; }
.flex-noshrink { flex-shrink: 0; }
.image { line-height:0; }

@media screen and (min-width: 30em) {
  .h-auto-ns { height: auto; }
  .o-100-ns { opacity: 1; }
}

/* Fonts */
@font-face {
  font-family: 'SlateStd';
  src: url('fonts/SlateStd.otf');
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'SlateStd-Bold';
  src: url('fonts/SlateStd-Bold.otf');
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: 'SlateStd-Light';
  src: url('fonts/SlateStd-Light.otf');
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: 'SlateStd-Medium';
  src: url('fonts/SlateStd-Medium.otf');
  font-style: normal;
  font-weight: 400; }

.slate {
  font-family: 'SlateStd';
}

.slate-light {
  font-family: 'SlateStd-Light';
}

.slate-medium {
  font-family: 'SlateStd-Medium';
}

.slate-bold {
  font-family: 'SlateStd-Bold';
}
