<template>
  <main class="slate-light black">

    <div class="nb7">
      <div class="mw8 center flex ph2 ph0-ns pv4 pv5-ns">
        <div class="db mr2 w-100-ns mw-100"><img src="../assets/images/gel/hero1.svg"></div>
        <div class="db mr2-ns w-100-ns mw-100"><img src="../assets/images/gel/hero2.svg"></div>
        <div class="dn db-ns w-100"><img src="../assets/images/gel/hero3.svg"></div>
      </div>
    </div>

    <article class="bg-cyan white pt6 pb4 mt6">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma2 ma0-ns pl1-ns mb3 flex-noshrink f5">
            <h2 class="slate-medium normal f5 mv1">Client</h2>
            BBC
          </div>
          <div>
            <h2 class="f3 normal ma0-ns ma2 pa0 pl2-ns">Creating a shareable pattern library for the BBC</h2>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-cream pv4 pl1-ns">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns pr3-ns ma2 mb3 flex-noshrink f5">
            <h2 class="slate-medium normal f5 mv2 pa0">Summary</h2>
            <p>How can pattern re-use, sharing and innovation be engendered across the BBC?</p>
            <p>By creating a pan-organisational platform that enables patterns to be shared, edited and re-shared. Our prototype is now in Beta.</p>
          </div>
          <div class="f4 ma2">
            <p class="mt0">People use the same tools to do the same things all the time. The tools evolve. They become convivial. These tools and ways of doing things online are standard ways of interacting which are ‘patterns’ that can be used to efficiently mass produce a coherent look and feel.</p>

            <p>The patterns the BBC uses are collectively the Global Experience Language (GEL). The BBC wanted to increase the expressive range of GEL, while at the same time increasing efficiency, sharing and re-use. How could we meet these seemingly contradictory requirements?</p>

            <p>We developed the concept of a flexible pattern library, building a working prototype, and helped build support for it in the BBC. A fully functioning pattern library based on this work is now in beta.</p>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-near-white pv4 pl1-ns">
      <section class="mw8 center cf f4">
        <h2 class="f3 normal ma0">Audit</h2>

        <p>Our first step was to complete an extensive audit to identify the number and types of pattern that are used to make up the majority of BBC sites.</p>

        <div class="f3">We sampled 47 pages from 10 sites:
          <ul class="dib pa0 ma0">
            <li class="dib mr1">News.</li>
            <li class="dib mr1">Sport.</li>
            <li class="dib mr1">iPlayer.</li>
            <li class="dib mr1">CBBC.</li>
            <li class="dib mr1">CBeebies.</li>
            <li class="dib mr1">Radio.</li>
            <li class="dib mr1">iWonder.</li>
            <li class="dib mr1">Bitesize.</li>
            <li class="dib mr1">Earth.</li>
            <li class="dib">Programmes.</li>
          </ul>
        </div>
        <div class="f3 mt3">And identified the following 15 patterns:
          <ul class="dib pa0 ma0">
            <li class="dib mr1">The Header &amp; Footer.</li>
            <li class="dib mr1">Navigation.</li>
            <li class="dib mr1">Promo groups.</li>
            <li class="dib mr1">Promos.</li>
            <li class="dib mr1">Drawers.</li>
            <li class="dib mr1">Tabsets.</li>
            <li class="dib mr1">Tables.</li>
            <li class="dib mr1">Carousels.</li>
            <li class="dib mr1">Search tools.</li>
            <li class="dib mr1">Real-time modules.</li>
            <li class="dib mr1">Social &amp; Contribution.</li>
            <li class="dib mr1">Media players.</li>
            <li class="dib mr1">Pop-overs.</li>
            <li class="dib mr1">Modal overlays.</li>
            <li class="dib">User preferences.</li>
          </ul>
        </div>
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2 ma0-ns pa2-ns">
          <h2 class="f3 normal ma0">Pattern breakdown</h2>

          <p>From the audit, we were able to identify certain ‘patterns’.</p>
          <p>The next step was to break each pattern down, and think about the possible variations for each part of the pattern…</p>

        </div>
      </section>
    </article>

    <section class="bg-white pv4">
      <div class="mw8 center ma2">
        <img src="../assets/images/gel/card-breakdown.svg" class="w-100">
      </div>
    </section>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="f6 w-30-ns ma2 ma0-ns">
          <p class="slate-medium normal f5 mv1">Images</p>
          <p>Images can use different aspect ratios, could zoom on hover or rotate through a few key frames.</p>
        </div>
        <img src="../assets/images/gel/images.svg" class="w-100 ma2 ma0-ns">
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="f6 w-30-ns ma2 ma0-ns">
          <p class="slate-medium normal f5 mv1">Info panels</p>
          <p>Info panels could be rectangular, chamfered or use rounded edges.</p>
        </div>
        <img src="../assets/images/gel/info-panels.svg" class="w-100 ma2 ma0-ns">
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="f6 w-30-ns ma2 ma0-ns">
          <p class="slate-medium normal f5 mv1">Headlines and attribution</p>
          <p>Typographic variations would be used for different brands and products.</p>
        </div>
        <img src="../assets/images/gel/headlines.svg" class="w-100 ma2 ma0-ns">
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="f6 w-30-ns ma2 ma0-ns">
          <p class="slate-medium normal f5 mv1">Buttons and iconography</p>
          <p>Similarly, buttons and iconography can also be altered</p>
        </div>
        <img src="../assets/images/gel/icons.svg" class="w-100 ma2 ma0-ns">
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="f6 w-30-ns ma2 ma0-ns">
          <p class="slate-medium normal f5 mv1">Examples</p>
        </div>
        <img src="../assets/images/gel/examples.svg" class="w-100 ma2 ma0-ns">
        <div class="f6 w-30-ns ma2 ma0-ns">
          <p>Similarly, buttons and iconography can also be altered</p>
        </div>
      </section>
    </article>

    <article class="bg-cream pv4">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2 ma0-ns pl2-ns">
          <h2 class="f3 normal ma0">Pattern Library</h2>

          <p>We then built a prototype pattern library containing patterns which solve common problems. People throughout the BBC can all use and contribute to them.</p>

        </div>
      </section>
    </article>

    <article class="bg-cream pv4">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns pr3-ns ma2 mb3 flex-noshrink f5">
            <p>1. The core patterns are accessed from an index page</p>
          </div>
          <div class="">
            <img src="../assets/images/gel/library-index.svg" class="w-100 ma2">
          </div>
        </div>
      </section>
    </article>

    <article class="bg-cream pv4">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns pr3-ns ma2 mb3 flex-noshrink f5">
            <p>2. Each pattern is described in detail with comprehensive guides and rules to explain when and where to use them.<br>
The platonic pattern can be accessed via GitHub and html Code can be snipped via the library.</p>
          </div>
          <div class="">
            <img src="../assets/images/gel/library-detail.svg" class="w-100 ma2">
          </div>
        </div>
      </section>
    </article>

    <article class="bg-cream pv4">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns pr3-ns ma2 mb3 flex-noshrink f5">
            <p>3. Grouping and layout options are described</p>
          </div>
          <div class="">
            <img src="../assets/images/gel/library-layout.svg" class="w-100 ma2">
          </div>
        </div>
      </section>
    </article>

    <article class="bg-cream pv4">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns pr3-ns ma2 mb3 flex-noshrink f5">
            <p>4. Working examples from across the organisation are displayed (inc. links to GitHub where they can be pulled)</p>
          </div>
          <div class="">
            <img src="../assets/images/gel/library-examples.svg" class="w-100 ma2">
          </div>
        </div>
      </section>
    </article>


    <article class="bg-cream pb6">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2 ma0-ns pl2-ns">
          <p>The long-term goal of the GEL pattern library is to provide tested, shared code that is re-usable and easily maintainable to supply ready-made solutions which are demonstrably accessible.</p>

        </div>
      </section>
    </article>

    <tui-footer class="bg-cyan white"/>

  </main>
</template>

<script>
import TuiFooter from '~/components/tui-footer'

export default {
  components: {
    TuiFooter
  },
  head: {
    title: 'BBC GEL — Tui Media'
  }
}
</script>

<style scoped>
.bg-cyan { background-color: rgb(0, 177, 242); }
.bg-near-white { background-color: rgb(240, 240, 240); }
.bg-cream { background-color: rgb(248, 246, 243); }
</style>
