<template>
  <main>
    <article class="bg-yellow black pv5">
      <section class="mw8 center slate-light mb2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </section>
    </article>
    <section class="mw8 center slate-light">
      <ul>
        <li><router-link :to="{ name: 'avkx' }">AVKX</router-link></li>
        <li><router-link :to="{ name: 'gel' }">BBC GEL</router-link></li>
      </ul>
    </section>
  </main>
</template>

<script>
export default {
  head: {
    title: 'Tui Media'
  }
}
</script>