<template>
  <main class="slate-light black">
    <div class="image">
      <img
        class="w-100 ma0 pa0"
        sizes="100vw"
        srcset="../assets/images/avkx/hero-720.jpg 720w,
          ../assets/images/avkx/hero-1280.jpg 1280w,
          ../assets/images/avkx/hero-1920.jpg 1920w,
          ../assets/images/avkx/hero-3000.jpg 3000w"
        alt="">
    </div>

    <article class="bg-magenta white pv4">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns ma2 mb3 flex-noshrink f5">
            <h2 class="slate-medium normal f5 mv1">Client</h2>
            BBC Audio Visual team<br>
            iPlayer<br>
            BBC News
          </div>
          <div>
            <h2 class="f3 normal ma0-ns ma2 pa0">Why patterns and expression needn’t be mutually exclusive</h2>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-cream pv4">
      <section class="mw8 center mb2">
        <div class="flex-ns">
          <div class="w-33-ns ma0-ns pr3-ns ma2 mb3 flex-noshrink f5">
            <h2 class="slate-medium normal f5 mv1">Summary</h2>
            The challenge was to develop a modular Audio Visual prototype for demo, working with the AV Team in delivering a fully-fledged and flexible solution to test and obtain organisation-wide buy-in. BBC AVKX player in beta - features are being rolled out incrementally.
          </div>
          <div class="f4 ma2">
            <p>Learning has changed in the age of Google. People have come to expect and demand information when and where they need it.</p>
            <p>Nick Shackleton-Jones of PA pairs this with a merciless critique of e-learning: e-learning is cheap, but ineffective. It doesn’t help with ‘jobs to be done’, and it’s not an engaging experience. Because it’s such an anaemic experience it’s not memorable, people literally fail to learn. Traditional learning in classrooms is not spared either: Face-to-face teaching is expensive and often fails to be emotionally engaging. Both e-learning and classroom teaching disappoint because they don’t provide what Nick calls an affective context for learning.</p>
            <p>The PA Learning Innovation Team (LiT) answer is to provide tailored performance support resources which help people with tasks and common struggles in work. The mantra is ‘resources not courses.’</p>
            <p>The target is to hone these resources for each client by creating perhaps 30% of new content specific to that client and maintaining about 70% that’s generally useful for all large complex businesses PA are trying to help. </p>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center f6 mb2">
        <div class="flex-ns">
          <div class="ma2">

            <img src="../assets/images/avkx/player-wireframe-simple.svg" class="w-100 h-auto">

            <p>The system had to flex from a simple player:</p>
            <ul>
              <li>Video</li>
              <li>Play/pause</li>
              <li>Mute</li>
              <li>Timecode</li>
            </ul>

          </div>
          <div class="ma2">

            <img src="../assets/images/avkx/player-wireframe-complex.svg" class="w-100 h-auto">

            <p>to a complex version with:</p>

            <ul>
              <li>Subtitle/accessibility controls</li>
              <li>Key Moments</li>
              <li>Chapterisation</li>
              <li>Visual scrubber</li>
              <li>Full-screen/page integration</li>
            </ul>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2">
          <p>We were commissioned to assist in the design and build of their Key Experience prototype - the all-singing, all-dancing version of the player - to be used in extensive testing and to obtain buy-in across the organisation.</p>

          <p>To deliver this, we developed two experiences for their biggest hitters - News and iPlayer which shared a set of reusable components.</p>

          <p>‘Experience’ is an apt description. The prototypes were responsive, integrated solutions that blurred the lines between player and page/content.</p>
        </div>
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center f6 mb2">
        <div class="flex-ns">
          <div class="ma2">

            <img src="../assets/images/avkx/browser-view-1.svg" class="w-100 h-auto">

            <p>Browser view with related content</p>

          </div>
          <div class="ma2">

            <img src="../assets/images/avkx/browser-view-2.svg" class="w-100 h-auto">

            <p>Full screen view with related content as overlay</p>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-white pv4">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2">
          <h2 class="f3 normal ma0">Why News and iPlayer?</h2>

          <p>The short answer is they have a very different set of requirements which was useful to test the modular approach. We had a common, adaptable UX language (see GEL) but could we reuse components in different contexts.? What would a carousel look and behave like in a News context and how would it differ in iPlayer? How would onward-journeys be represented in the two contexts?</p>

          <p>Strictly Come Dancing was chosen as the content for the iPlayer build. Strictly had the perfect format for us to build and test several new bits of functionality:</p>

          <ul>
            <li>Chapterisation - perfect for skipping to your favourite dance partnership</li>
            <li>Key scenes - editorially added best bits</li>
            <li>Sharing of chapters</li>
            <li>Adding Music (to users accounts, for signed-in BBC users only)</li>
          </ul>
        </div>
      </section>
    </article>

    <article class="bg-white pv2">
      <section class="mw8 center cf">
        <img src="../assets/images/avkx/chapters.svg" class="w-100">
        <div class="f6 w-30-ns ma2">
          <p>Chapterisation and key moments were designed and added to the prototype for testing with long-form content</p>
        </div>
      </section>
    </article>

    <article class="bg-white pv2">
      <section class="mw8 center cf">
        <img src="../assets/images/avkx/animation-movie.jpg" class="w-100">
        <div class="f6 w-30-ns ma2">
          <p>We spent time looking at the ‘personality’ of the iPlayer interface - refining the pace and motion of the of the animations for Share and Favourites</p>
        </div>
      </section>
    </article>

    <article class="bg-white pv2">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2">
          <p>For News we looked at the Top Video Stories page - a roundup of the most popular video bulletins presented in a continuous-play playlist.</p>
        </div>
      </section>
    </article>

    <article class="bg-white pv5">
      <section class="mw8 center f6 mb2">
        <div class="flex-ns">
          <div class="ma2 w-50-ns flex flex-column justify-between">

            <img src="../assets/images/avkx/top-video-stories-1.svg" class="w-100 h-auto">

            <div class="w-two-thirds-ns"><p>The News instance consisted of a carousel of short-form bulletins - as each clip is played the onward-journey below updated</p></div>

          </div>
          <div class="ma2 w-50-ns flex flex-column justify-between">

            <img src="../assets/images/avkx/top-video-stories-2.svg" class="w-100 h-auto">

            <p>The bulletins auto-play</p>
          </div>
        </div>
      </section>
    </article>

    <article class="bg-deep-blue white pv4">
      <section class="mw8 center f6 f5-ns pa2">
        <table class="w-100 collapse">
          <thead>
            <tr>
              <th class="tl f4 normal">Prototype requirements</th>
              <th class="tl"><img src="../assets/images/avkx/iplayer-logo.svg" alt="iPlayer"></th>
              <th class="tl"><img src="../assets/images/avkx/news-logo.svg" alt="BBC News"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Responsive build</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Sharing</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Adding</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Subtitle module with accessibility controls</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Standard controls (play/pause, volume)</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Visual scrubbing</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Player controls: Chapterisation</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">&nbsp;</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Player controls: Key moments</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">&nbsp;</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Continuous play functionality and interface </td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Carousel / exposed</td>
              <td class="bb b--white-30 pa0 pv2">&nbsp;</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Carousel / hidden</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">&nbsp;</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Contextually sensitive journey promos</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Categorised onward journey promos</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">&nbsp;</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Auto ‘lights out’</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
            <tr>
              <td class="bb b--white-30 pa0 pv2">Full screen with onward journey overlay</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
              <td class="bb b--white-30 pa0 pv2">•</td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>

    <article class="bg-deep-blue pv2 pv3-ns">
      <section class="mw8 center f6 mb2 pa2">
        <div class="flex-ns">

          <div class="mr2-ns w-50-ns">
            <img src="../assets/images/avkx/screenshot-1.jpg" class="w-100 h-auto">
          </div>
          <div class="ml2-ns w-50-ns">
            <img src="../assets/images/avkx/screenshot-2.jpg" class="w-100 h-auto">
          </div>
        </div>
      </section>
    </article>

    <article class="bg-deep-blue white pv3">
      <section class="mw8 center pa2 f5 cf">
        <div class="fr-ns w-two-thirds-ns">
          <p>iPlayer was designed with a sumptuous ’cinematic’ look and feel. We used a full-bleed image for the hero and crafted the interface to convey quality; giving the animations a different feel from News through pace and ease in/out (see below)</p>

          <p>The News  Video Bulletin prototype used many of the same components . Short-form clips formed a playlist, continuous auto-play was implemented and the contextual onward-journeys updated with each clip.</p>
        </div>
      </section>
    </article>

    <article class="bg-deep-blue white pv2-ns pv2">
      <section class="mw8 center pa2">
        <img src="../assets/images/avkx/carousel-video.jpg" class="w-100">
        <div class="f6 w-30-ns">
          <p>Video demoing the carousel/info-panel interactions</p>
        </div>
      </section>
    </article>

    <article class="bg-deep-blue white pv2-ns">
      <section class="mw8 center cf">
        <div class="fr w-two-thirds-ns f5 ma2">
          <h2 class="f3 normal ma0">Outcome</h2>

          <p class="mt0">After extensive testing and refining the prototypes were shared with the BBC’s  Creative Leadership team and given the green light. The look and feel of iPlayer can be seen now with the functionality being rolled out iteratively.</p>
         </div>
      </section>
    </article>

    <tui-footer class="bg-magenta white"/>

  </main>
</template>

<script>
import TuiFooter from '~/components/tui-footer'

export default {
  components: {
    TuiFooter
  },
  head: {
    title: 'BBC AVKX – Tui Media'
  }
}
</script>

<style scoped>
.bg-cream { background-color:rgb(248, 246, 243); }
.bg-magenta { background-color:rgb(242, 19, 111); }
.bg-deep-blue { background-color: rgb(17, 18, 24); }
</style>
